body {
 
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: plum;
}


.snake_board {
  

  display: grid;
 
 background-image: url('/Untitled\ design\ \(1\).png');

 background-size: cover;
  grid-template-columns: repeat(1, 530px);
  grid-template-rows: repeat(10 , 53px);
  /* border: 2px solid red; */
  /* transform: rotate(360deg); */
  transform: scaleY(-1);
  grid-auto-flow: row-reverse; /* Change the flow direction */
}

.cell{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
   width: 100px;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
}

.play1{
 
  transform: rotate(180deg);
  font-size: medium;
}
.play2{
  transform: rotate(180deg);
  font-size: medium;
}
.row-container{
  width: 530px;
  display: flex;
  /* background:yellow; */
  color: black;
}
.row-container2{
  width: 530px;
  display: flex; 
   transform: scaleX(-1);
  /* background:yellow; */
  color: black;
}

#roll{
  margin-left: 40px;
  width: 7rem;
  height: 3rem;
  font-size: large;
  font-weight: 700;
  background-color: black;
  color: white;
  border-style: none;
  color: white;
  border-radius:10px ;
}
#roll:hover{
  cursor: pointer;
 

  background-color: red;
  border-radius: 10px;
}


